<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NonSmoSheetJSON</key>
	<string>https://script.googleusercontent.com/macros/echo?user_content_key=HEqdlmWNkf_2lvaiFivd6LjJJVC18vbecLI6t-jc8Wgzce0v2jBGlqLX4iEfKElJ2HLwVKZinhTZCQyIRE3ViQkTLUGuJ5gFOJmA1Yb3SEsKFZqtv3DaNYcMrmhZHmUMWojr9NvTBuBLhyHCd5hHa1ZsYSbt7G4nMhEEDL32U4DxjO7V7yvmJPXJTBuCiTGh3rUPjpYM_V0PJJG7TIaKpzJqsdGeEdyh5VgNy5FkYzfAZdzOQamXN3OpUdTYjQxY72q6ey6AjHHujTXr0iYFKMKiW3k6MDkf31SIMZH6H4k&amp;lib=MbpKbbfePtAVndrs259dhPT7ROjQYJ8yx</string>
	<key>GMSiOSApiKey</key>
	<string>AIzaSyA_lLC17QV-E9720fMzRMZF04QtdIy4JEo</string>
	<key>GMSWebApiKey</key>
	<string>AIzaSyDa9Fh9sFFxVaeawHxr-nvRgZUeX1SWB74</string>
</dict>
</plist>
