<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSiOSApiKey</key>
	<string>AIzaSyA_lLC17QV-E9720fMzRMZF04QtdIy4JEo</string>
	<key>GMSWebApiKey</key>
	<string>AIzaSyDa9Fh9sFFxVaeawHxr-nvRgZUeX1SWB74</string>
</dict>
</plist>
