<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NonSmoSheetJSON</key>
	<string>https://script.google.com/macros/s/AKfycbygukdW3tt8sCPcFDlkMnMuNu9bH5fpt7bKV50p2bM/exec?id=1a7V_gI-eD91sZQtQvVl7KU-dP7JFPPMhxuYvKusiCUA&amp;sheet=results</string>
	<key>GMSiOSApiKey</key>
	<string>AIzaSyA_lLC17QV-E9720fMzRMZF04QtdIy4JEo</string>
	<key>GMSWebApiKey</key>
	<string>AIzaSyDa9Fh9sFFxVaeawHxr-nvRgZUeX1SWB74</string>
</dict>
</plist>
